name: Update flake inputs

on:
  schedule:
    - cron: "14 0 * * *" # Everyday at 00:14 UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Update flake inputs
        run: nix flake update

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add flake.lock
          git diff --staged --quiet || git commit -m "chore: nix flake update" && git push
